#flex-wrap {
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
}

#flex-wrap img {
  max-width: 85%;
  margin-top: 10px; 
}

.column{
  width: 100%;
  height: auto;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.col{
  margin:1%;
  text-align: justify;
}