.hero {
  background-image: url('../hero_responsive.jpg');
}

#flex-wrap {
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
}

#flex-wrap img {
  max-width: 85%;
}