#content-images{
    padding-bottom: 60px;
}

#content-images img{
    max-height: 200px;
    object-fit: cover;
    width: 100%;
  }

  #content-images2{
    background-image: url('../img/responsive_background_gorilla.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    background-position: center;
  }